<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hust.bean.Grade">
	<resultMap type="hust.bean.Grade" id="gradeMapper">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<result property="leaderName" column="c_leaderName"/>
	</resultMap>

</mapper>